<div class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-sm-8 align-self-center text-center">
            <form class="form-signin" ng-submit="loginFunction()">	  
                <h1 class="h1 mb-4">Sign in</h1>
                <div class="form-group row">
                    <label for="login" class="col-sm-3 col-form-label">Login</label>
                    <div class="col-sm-9">
                        <input id="login" class="form-control" placeholder="Login" required ng-model="login">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" class="form-control" placeholder="Password" required ng-model="password">
                    </div>
                </div>
                <div id="responseLogin" style="display: hide;font-size: 80%;">
                    {{response}}
                </div>
                <button class="btn btn-primary mt-2" type="submit">Sign in</button>
            </form>            
            <div>
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a ng-href="#/register" class="ml-2">Sign Up</a>
                </div>
            </div>

        </div>
    </div>
</div>
